html {
    font-size:62.5%;
}

body {
    font: 1.4em 'Helvetica', 'Arial', sans-serif;
}

p {
    margin-bottom: 16px;
}

#main-content {
    width: 800px;
    width: 70%;
    margin: 32px auto;
}

code {
    display: inline-block;
    background: #eee;
    color: #333;
    padding: 3px 5px;
    margin: 2px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size:1.2em;
}